body {
	background-image: url("../images/background.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
}

header {
	font-family: 'Berkshire Swash', cursive;
	color: white;
	text-shadow: 5px 5px 10px black;
}

#instructions {
	font-family: 'Berkshire Swash', cursive;
	font-size: 20px;
	color: white;
	text-shadow: 5px 5px 10px black;
}

#target {
	font-family: 'Berkshire Swash', cursive;
	color: white;
	float: left;
	text-shadow: 5px 5px 10px black;

}

#win-loss-counter {
	font-family: 'Berkshire Swash', cursive;
	color: white;
	float: left;
	text-shadow: 5px 5px 10px black;
}

img {
	height: 130px;
	width: 130px;
}

#score {
	font-family: 'Berkshire Swash', cursive;
	color: white;
	text-shadow: 5px 5px 10px black;
}